* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'open sans';
    font-size: 16px;
}

/*aqui lo demas*/
header {
    width: 100%;
    height: 608px;
    background-image: url(fondochido.jpg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    position: relative;
    overflow: hidden;
    color: #800606;
    text-align: center;
}

header nav {
    height: 70px;
    background: #2b0000;
    display: flex;
    justify-content: space-between;
}

.icono {
    display: none;
}

.enlaces {
    display: flex;
    height: 100%;
    width: 30%;
    justify-content: space-around;
    align-items: center;
}

.enlaces a {
    border-top: 1px solid transparent;
    border-bottom: 1px solid transparent;
    padding: 4px 0;
    transition: 1s ease-out;
    color: #ffffff;
    text-decoration: none;
}

.enlaces a:hover,
.active {
    border-top: 2px solid #dd1818;
    border-bottom: 2px solid #dd1818;
}

nav .logo {
    height: 100%;
    background: #ffffff;
    margin-left: 80px;
}

nav .logo img {
    object-fit: cover;
    height: inherit;
}

/* otro*/
header .textos {
    margin-top: 100px;
}

header .titulo {
    font-size: 85px;
}

header .subtitulo {
    font-size: 42px;
    font-weight: 300;
    margin-bottom: 32px;
}

@media screen and (max-width:750px) {
    .icono {
        display: flex;
        justify-content: center;
        height: 70px;
        align-items: center;
        color: #ffffff;
        background: transparent;
        padding: 20px;
        z-index: 100;
        cursor: pointer;
        margin-right: 40px;
    }

    .enlaces {
        position: fixed;
        height: 100vh;
        right: 0;
        width: 100%;
        flex-direction: column;
        transition: all 1s ease;
        background: #333333;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #dd1818, #333333);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #dd1818, #333333);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    }

    .uno {
        clip-path: circle(0% at 100% 0);
    }

    .dos {
        clip-path: circle(150% at 100% 0);
    }
}

@media screen and (max-width:400px) {
    nav .logo {
        margin-left: 20px;
    }
}

/* otro*/
header .boton {
    display: inline-block;
    padding: 5px;
    width: 128px;
    border: 2px solid #dd1818;
    color: #333333;
    font-size: 17px;
    text-align: center;
    text-decoration: none;
    border-radius: 20px;
}

.sesgoabajo {
    z-index: 10;
    position: absolute;
    bottom: 0;
    left: 0;
    border-width: 0 0 36vh 100vw;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
}

.sesgoarriba {
    z-index: 10;
    position: absolute;
    top: 0;
    left: 0;
    border-width: 36vh 100vw 0 0;
    border-style: solid;
    border-color: #fff transparent transparent transparent;
}

.contenedor {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    padding: 52px 0;
}

.sobre-nosotros {
    text-align: center;
    font-size: 56px;
    margin-bottom: 10px;
    font-weight: 600;
}

.slogan {
    font-size: 24px;
    font-weight: 300;
    text-align: center;
    margin-bottom: 24px;
}

.parrafo {
    margin-bottom: 13px;
    font-weight: 300;
    text-align: justify;
    line-height: 24px;
    color: rgb(0, 18, 43);
}

.acerca-de .boton {
    display: inline-block;
    padding: 6px;
    width: 128px;
    font-weight: 300;
    border: 2px solid rgb(177, 0, 0);
    color: rgb(160, 4, 147);
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border-radius: 16px;
    margin-top: 24px;
}

.galeria {
    width: 100%;
    height: 500px;
    overflow: hidden;
    display: flex;
    position: relative;
}

.imagenes {
    width: 20%;
    height: 500px;
    overflow: hidden;
    position: relative;
}

.imagenes img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.encima {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #ffffff00;
}

.encima h2 {
    position: relative;
    top: 45%;
    text-align: center;
    color: rgb(0, 0, 0);
}

.encima div {
    position: relative;
    display: block;
    top: 46%;
    width: 40px;
    height: 5px;
    background: rgb(3, 0, 0);
    margin: auto;
}

.cards {
    width: 100%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    margin: 25px 0;
    width: 30%;
    height: 250px;
    text-align: center;
    padding: 15px;
    box-shadow: 0px 0px 4px 0 rgba(0, 0, 0, 0.678);
}

.cards img {
    width: 140px;
    height: 140px;
    object-fit: cover;
    border-radius: 100%;
}

.fondo {
    height: 900px;
    position: relative;
    background-image: url(segundofondo.jpg);
    overflow: hidden;
    background-attachment: fixed;
    background-position: center;
    padding-top: 130px;
}

.sesgoabajo-unico {
    z-index: 10;
    position: absolute;
    bottom: 0;
    left: 0;
    border-width: 0 0 35vh 100vw;
    border-style: solid;
    border-color: transparent transparent #014444 transparent;
}

.titulo-patrocinadores,
.subtitulo-patrocinadores {
    color: rgb(0, 0, 0);
    text-align: center;
}

.titulo-patrocinadores {
    font-size: 56px;
    margin-top: 100px;
}

.subtulo-patrocinadores {
    font-size: 24px;
    font-weight: 300;
    margin-bottom: 64px;
}

.clientes {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 64px;
    width: 200%;
    justify-content: space-between;
}

.clientes {
    width: 30%;
}

.clientes img {
    width: 100%;
}

footer {
    background: #014444;
}

.titulo-footer,
.subtitulo-footer {
    color: rgb(255, 1, 255);
    text-align: center;
    font-weight: 400;
    font-size: 20px;
}

.subtitulo-footer {
    font-size: 16px;
    font-weight: 300;
    margin-bottom: 60px;
}

.galeria {
    width: 100%;
    height: 500px;
    overflow: hidden;
    display: flex;
    position: relative;
    flex-wrap: wrap;
}

.imagenes {
    width: 20%;
    height: 500px;
    overflow: hidden;
    position: relative;
}

@media screen and (max-width:900px) {
    .card {
        width: 48%;
    }
}

@media screen and (max-width:610px) {
    header .textos {
        margin-top: 130px;
    }

    header .titulo {
        font-size: 75px;
    }

    .none {
        display: none;
    }

    .imagenes {
        flex-grow: 1;
    }

    .card {
        width: 98%;
    }

    .fondo {
        height: 850px;
    }

    .cliente {
        width: 90%;
        height: 200px;
        margin-bottom: 50px;
    }
}

@media screen and (max-width:380px) {
    header .textos {
        margin-top: 100px;
    }

    header .titulo {
        font-size: 65px;
    }

    header .subtitulo {
        font-size: 25px;
        margin-bottom: 32px;
    }

    .sobre-nosotros {
        font-size: 46px;
    }

    .slogan {
        font-size: 20px;
    }

    .titulo-patrocinadores {
        font-size: 46px;
    }

    .subtitulo-patrocinadores {
        font-size: 20px;
    }
}